body {
	font-family: 'Arial';
	background: #edeae5;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0px;
    text-align: center;
}

main {
    width: 480px;
    height: 480px;
    position: absolute;
    top: calc(50% - 240px);
    left: calc(50% - 240px);
}
.circle {
    width: 60px;
    height: 60px;
    background: white;
    display: inline-block;
    margin-right: 30px;
    border-radius: 50%;
    background-color: yellow;
}
.square {
    width: 60px;
    height: 60px;
    background: white;
    display: inline-block;
    margin-right: 30px;
    background-color:rgb(128,20,23);
}
.row {
    margin-bottom: 30px;
}
